
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>trmindex1</title>
</head>
<body>
    <form method="post">


        <h1>@ViewBag.text</h1>
        <table border="1">
            <tr>
                <td>
                    Trainer Id
                </td>
                <td>
                    Executive Id
                </td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <input type="text" name="tid" />
                </td>
                <td>
                    <input type="text" name="eid" />
                </td>
                <td>
                    <input type="submit" value="SUBMIT" />
                </td>
            </tr>
        </table><br /><br />


    </form>
</body>
</html>
