
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
  
    <h1> USER LOGIN.. </h1>
</head>
<body>
    <div> 
        <form method="post">
            <input type="text" id="UN" name="UN"/>
            <br />
            <input type="password" id="pwd" name="pwd"/>
            <br />
            <input type="submit" value="Submit Form" />
        </form>
       
       <h2> @ViewBag.Msg </h2>
       
    </div>
</body>
</html>
