
@{
    ViewBag.Title = "Output";
}

<!DOCTYPE html>

<html>
<head>
  
</head>
<body>
    <div> 
        <h1>FirstName: @ViewBag.FullNme</h1>
        <h1>Age: @ViewBag.age</h1>
        <h1>City: @ViewBag.city</h1>

        <h1>Reporting to: @ViewBag.rep</h1>


    </div>
</body>
</html>
