@model MVCIssueTrackerCode.Models.DataView1

@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeveloperResolve</title>
</head>
<body>
    @using (Html.BeginForm("DeveloperResolve", "Main", FormMethod.Post))
    {
        <table border="1">
            <tr>
                <td>
                    Comments
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextAreaFor(m => m.dc)
                    <br />
                    @Html.ValidationMessageFor(m => m.dc)
                </td>
            </tr>
        </table>
        <br /><br />
        <input type="submit" value="SUBMIT" />
    }
</body>
</html>




